<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        <div>
            <p>{{ message }}</p>
        </div>
        <div>
            <form action="/" method="post">
                <!-- Username form-field -->
                <input name="username" placeholder="Username" type="text" required autofocus>
                <!-- Password form-field -->
                <input name="password" placeholder="Password" type="password" required>
                <!-- Button -->
                <input type="submit">
            </form>
        </div>
    </body>
</html>
