<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Log In Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/4.1/examples/sign-in/signin.css" rel="stylesheet">
    <!------ Include the above in your HEAD tag ---------->
</head>
<body>
     
        <!------ Include the above in your HEAD tag ---------->
    
    <form action="/" method="POST" class="form-signin">
        <img class="mb-4" src="https://c-ash.smule.com/sf/s25/arr/61/15/e7512a48-1e80-4f26-bdc1-cc4ffc2734fd_256.jpg" alt="" width="300" height="300">
        <h1 class="h3 mb-3 font-weight-normal">Please Log in</h1>
        <label for="inputUserID" class="sr-only">User ID</label>
        <input name="user_id" type="text" id="inputUser" class="form-control" placeholder="User ID" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
            <label>
            <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <a class="nav-link" href="/signup"> Sign-Up </a>
        <p>{{ message }}</p>
    </form>
</html>