apturl==0.5.2
argcomplete==0.8.1
autoenv==1.0.0
beautifulsoup4==4.6.0
bleach==2.1.1
blessings==1.6.1
bottle==0.12.7
bpython==0.17.1
Brlapi==0.6.4
bs4==0.0.1
certifi==2018.4.16
chardet==3.0.4
chrome-gnome-shell==0.0.0
click==6.7
command-not-found==0.3
cowsay==1.0
cubes==1.1
curtsies==0.3.0
cycler==0.10.0
decorator==4.0.6
defer==1.0.6
docker-py==1.9.0
entrypoints==0.2.3
expressions==0.2.3
Flask==0.12.2
Flask-SQLAlchemy==2.3.2
Glances==2.3
grako==3.99.9
greenlet==0.4.13
html5lib==1.0b10
httpie==0.9.9
IbPy2==0.8.0
idna==2.6
influxdb==2.12.0
ipykernel==4.6.1
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.0.5
itsdangerous==0.24
jedi==0.11.0
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.4.0
kazam==1.5.3
language-selector==0.1
louis==2.6.4
lxml==4.6.5
Mako==1.0.3
MarkupSafe==1.0
matplotlib==2.1.0
mistune==0.8.1
nbconvert==5.3.1
nbformat==4.4.0
netifaces==0.10.4
nltk==3.2.5
notebook==5.2.1
numpy==1.13.3
pandas==0.21.0
pandas-datareader==0.6.0
pandocfilters==1.4.2
parso==0.1.0
pexpect==4.0.1
pickleshare==0.7.4
Pillow==3.1.2
pprint==0.1
progressbar==2.3
prompt-toolkit==1.0.15
psutil==3.4.2
psycopg2==2.7.3.2
ptyprocess==0.5
pyasn1==0.1.9
pycallgraph==1.0.1
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0
Pygments==2.2.0
pygobject==3.20.0
pyparsing==2.2.0
pysnmp==4.2.5
pystache==0.5.4
python-apt==1.1.0b1+ubuntu0.16.4.2
python-dateutil==2.6.1
python-debian==0.1.27
python-gnupg==0.3.8
python-systemd==231
pytz==2017.3
pyxdg==0.25
PyYAML==3.11
pyzmq==15.2.0
qtconsole==4.3.1
reportlab==3.3.0
requests==2.18.4
requests-file==1.4.3
requests-ftp==0.3.1
sessioninstaller==0.0.0
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.2.5
system-service==0.3
terminado==0.7
testpath==0.3.1
tornado==4.2.1
traitlets==4.3.2
typing==3.6.4
ubuntu-drivers-common==0.0.0
Ubuntu-Make==18.5
ufw==0.35
unattended-upgrades==0.1
urllib3==1.22
usb-creator==0.3.0
virtualenv==15.1.0
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.18.0
Werkzeug==0.13
widgetsnbextension==3.0.8
wrapt==1.10.11
xdiagnose==3.8.4.1
xkit==0.0.0
