<!DOCTYPE <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Microcenter</title>
        {% block css_dependencies %}
            <link href="style.css" rel ="stylesheet">
        {% endblock css_dependencies %}
        {% block js_dependencies %}
        <script src ="behavior.js"></script>
        {% endblock js_dependencies %}
    </head>
    <body>
        <div>
            {% block viewport %}
            <p> This is default content</p>
            {% endblock viewport %}
        </div>
    </body>
</html>