{% extends "homepage.html" %}
{% block main %}
          <p>Your net cash HTML Trader earnings so far: {{net_bal}}</p>
          <p>You also have {{shares}} shares in your portfolio.</p>
          <h4>Your current portfolio:</h4>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Ticker</th>
                  <th>Shares</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                {% for row in position_list %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
{% endblock main %}