<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset ='utf-8'>

        <title>Gabby's Web Trader</title>
        <div class = "header">
        <h1>Welcome to Web Trader</h1>
        </div>
        
        {% block css_dependencies %}
        {% endblock css_dependencies %}
        
        {% block js_dependencies %}
        
        {% endblock js_dependencies %}
        <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/4.1/examples/dashboard/dashboard.css" rel="stylesheet">
        <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
        <script src="https://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
        <script>
            feather.replace()
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
        
            <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
                <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Web Trader</a>
                <ul class="navbar-nav px-3">
                </ul>
            </nav>
            <!-- TEMPORARY EXAMPLE CODE -->
            <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
                <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Byte Academy</a>
                <ul class="navbar-nav px-3">
                    <li class="nav-item text-nowrap">
                        <a class="nav-link" href="#">Sign out</a>
                    </li>
                </ul>
            </nav>
            <div class="container-fluid">
                <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                        <a class="nav-link" href="/admin">
                            <span data-feather="menu"></span>
                            Dashboard <span class="sr-only">(current)</span>
                        </a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/admin/leaderboard">
                            <span data-feather="menu"></span>
                            Leaderboard
                        </a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/admin/tableview">
                            <span data-feather="menu"></span>
                            Table View
                        </a>
                        </li>
                    </div>
                </nav>
            
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Admin View</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">

                    </div>
                    </div>
                </main>
            </div>
        </div>
    </head>
    <body>
                
        {% block viewport %}
 
              
        {% endblock viewport %}
    </body>
    <style>
        .forms > * {
            font-size: 20px;
            text-align:left;
            position: relative;
            left: 300px;
            top: 10px;
            width: 100%;
        }
    
        .header > * {
            text-align: center;
            font-size: 30px;
        }

        .flex-column > * {
            text-align: left;
        }

        .table-responsive > * {
            width: 100%;
            height: 100%
        }
    </style>
</html>