{% extends "structure.html" %}
{% block css_dependencies %}
{% endblock css_dependencies %}

{% block js_dependencies %}
{% endblock js_dependencies %}

{% block viewport %}

<p></p>
<body>
<div class = "forms">
    <form action ="/buy" method = "post">
        <p>Buy Transaction</p>
        <!-- Username form-field -->
        <input name  = "ticker" placeholder="Ticker" type ="text" autofocus>
        <p></p>
        <input name  = "volume" placeholder="Trade Volume" type ="text" autofocus>
        <!-- Button -->
        <p></p>
        <input type = "submit">
        <p></p>
        <p>{{ message }}</p>
    </form>
</div> 
</body>
{% endblock viewport %}