{% extends "adminstructure.html" %}
{% block css_dependencies %}
{% endblock css_dependencies %}

{% block js_dependencies %}
{% endblock js_dependencies %}

{% block viewport %}

<title>Gabby's Web Trader</title>

<div class = "forms">
    <h4>Leaderboard</h4>
    <form action ="/admin/leaderboard" method = "get">
        <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>User ID</th>
                  <th>PortfolioValue</th>
                </tr>
              </thead>
              <tbody>
                {% for row in position_list %}
                <tr>
                  <td>{{ row[0] }}</td>
                  <td>{{ row[1] }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
    </form>
</div> 

{% endblock viewport %}