{% extends "adminstructure.html" %}
{% block css_dependencies %}
{% endblock css_dependencies %}

{% block js_dependencies %}
{% endblock js_dependencies %}

{% block viewport %}

<title>Gabby's Web Trader</title>

<div class = "forms">
    <form action ="/admin" method = "post">
        <p>Hey Admin, What would you like to do?</p>
        <img class="mb-4" src="https://visualpharm.com/assets/314/Admin-595b40b65ba036ed117d36fe.svg" alt="" width="300" height="300">            
    </form>
</div>

{% endblock viewport %}